<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br/>
        <div class="contenido">
            <h2>Búsqueda por apellidos</h2>
            <a th:href="@{/cliente/listado}">Regresar</a>
            <br/>
            <br/>
            <form th:action="@{/cliente/buscarCliente}"
                  method="post"
                  th:object="${cliente}">
                <label for="apellidos">Apellidos: </label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br/>
                <br/>
                <input type="submit" name="Buscar" value="Buscar" />
            </form>
            <br/>
            <br/>
            <div th:if="${listaClientes != null and !listaClientes.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Teléfono</th>
                            <th>Limite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${listaClientes}">
                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.apellidos}"></td>
                            <td th:text="${item.correo}"></td>
                            <td th:text="${item.telefono}"></td>
                            <td th:text="${#numbers.formatDecimal(item.credito.limite, 3,2)}"></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div th:if="${listaClientes == null or listaClientes.empty}">
                No se encotraron resultados
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
