<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
       <header th:replace="layout/plantilla :: header"/>
        <br/>
        <div class="contenido">
            <h2>Datos del categoria</h2>
            <a th:href="@{/categoria/listado}">Regresar</a>
            <br/>
            <br/>
            <form th:action="@{/categoria/guardarCategoria}"
                  method="post"
                  th:object="${categoria}">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"></input>
                <br>
                <label for="descripcion">Descripción: </label>
                <input type="text" name="descripcion" th:field="*{descripcion}" />
                <br>
                <label for="activo">Activo: </label>
                <input type="checkbox" name="activo" th:checked="*{activo}"/>
                <br>
                <input type="submit" name="Guardar" value="Guadar" />
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
