<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <br/>
        <div class="contenido">
            <h2 th:text="#{index.titulo}" >Nuestros Artículos</h2>
            <div th:if="${listaArticulos != null and !listaArticulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{articulo.descripcion}">Descripción</th>
                            <th th:text="#{articulo.precio}">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${listaArticulos}">
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio,3,2)}"></td>
                            <td><a th:href="@{/carrito/agregar/} + ${item.idArticulo}">Agregar</a></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div th:if="${listaArticulos == null or listaArticulos.empty}">
                <p>
                    [[#{articulo.no_mostrar}]]
                </p>
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
