<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
      >
    <head>
        <title>Tech Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <style>
                .contenido{
                    text-align: center;
                    border-radius: 20px;
                    top: 50%;
                    left: 50%;
                    margin-left: -200px;
                    margin-top: -125px;
                    background-color: gray;
                    overflow: auto;
                    width: 400px;
                    height: 250px;
                    position: fixed;
                }
            </style>
    </head>
    <body>
        <div class="contenido">
            <h2 th:text="#{login.login}">Autenticar</h2>
            <form method="post" th:action="@{/login}">
                <label for="username" th:text="#{login.username}">Usuario:</label>
                <br/>
                <input type="text" name="username" id="username"></input>
                <br/>
                <br/>
                <label for="password" th:text="#{login.password}">Password:</label>
                <br/>
                <input type="password" name="password" id="password"></input>
                <br/>
                <br/>
                <button type="submit" th:value="#{login.login}">Login</button>
            </form>
        </div>
    </body>
</html>
